@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;700&display=swap');

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-top: 25%;
    margin-left: 220%; */
    margin-top: 5em;
    font-size: 16px;
}

.signup-input {
    margin: 2%;
    color: white;
     border: 2px solid white;
     border-radius: 5px;
     background-color: rgba(255,255,255,0.5);;
     box-shadow: 0px 1px 2px rgba(0,0,0,.13);
     padding: 5px;
}

.label-file {
    margin-left: 4%;
}

.choose-file{
   margin-left: 35%;
}


/* Hover btn */

.btn-transparent {
   border: 0;
   width: 10em;
   color: white;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
    padding: 15px 0;
    border: 2px solid white;
	border-radius: 5px;
	font-size: 1.5rem;
	font-family: Nunito, sans-serif;
    background-color: transparent;
	box-shadow: 0px 1px 2px rgba(0,0,0,.13);
    /*transition: all .2s ease;*/
    transition:all .5s ease-in-out;
}

.btn-transparent:hover {
    background-color: rgba(255,255,255,0.5);
    color: white;
    /* text-shadow: 2px 2px 5px rgb(51, 51, 51); */

    /* background-color: white;
    color: rgb(48, 65, 62); */
}

.form-div {
    /* margin-top: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.pic-upload {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.btn-transparent {
    margin-top: 1em;
    margin-bottom: 0.5em;
}












