.form-lesson {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-direction: column;
}

.form-lesson-parent-div {
    display: flex;
    flex-direction: row;
    padding: 20px 10px;
    padding-left: 10px;
    justify-content: space-around;
}

.form-lesson-divs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px 10px;
}
.form-lesson-divs label {
    margin-bottom: 5px;
    font-size: 18px;
}

.form-lesson-divs input, select {

    font-family: Arial, Helvetica, sans-serif;
    /* background-color: hsl(0, 0%, 10%); */
    background-color: transparent;
    color: hsl(0, 0%, 100%);
    padding: 0.25em 0.5em;
    text-transform: uppercase;
    /* border: 2px solid rgb(230, 142, 230); */
    border: 2px solid rgb(255, 255, 255);
    border-radius: 0.25em;
    /* box-shadow: 0 0 2px 2px hsl(0, 0%, 10%), 0 0 2px 3px rgb(230, 142, 230); */
    box-shadow: 0 0 2px 2px hsl(0, 0%, 10%), 0 0 2px 3px rgb(255, 255, 255);
    transition: 0.1s all ease;
}

.form-lesson-divs input:hover {
    box-shadow: 0 0 2px 2px hsl(0, 0%, 10%), 0 0 5px 3px rgb(255, 255, 255);
}


.form-lesson-divs select:hover {
    box-shadow: 0 0 2px 2px hsl(0, 0%, 10%), 0 0 5px 3px rgb(255, 255, 255); 
}