@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;700&display=swap');
/* font-family: 'Exo 2', sans-serif; */
/* Home Page */
* {
    font-family: 'Exo 2', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-image: url(../pictures/background.jpg);
   /* background-color: black;*/
    display: flex;
    color: white;
    
}

.logoDedSec {
    width: 200px;
}

.section-main {
    justify-content: center;
    align-items: center;
    text-align: left;
}
/* Nav Bar */
.nav-main {
    background-color: rgba(5, 5, 5, 0.2);
    min-height: 10vh ;
    display: flex;
    align-items: center;
    margin: auto;
    border-bottom: 2px solid rgba(5, 5, 5, 0.5);
    justify-content: space-between;
    width: 114.5%;
    height: auto;
    font-size: 20px;
    box-shadow: 0px 2px 4px 0px rgba(7, 7, 7, 0.2);;
    /*-webkit-box-shadow:0px 5px 5px rgba(5, 5, 5, 0.5);
 -moz-box-shadow:0px 10px 10px rgba(5, 5, 5, 0.5);
 box-shadow:0px 20px 20px rgba(10, 10, 10, 0.5);*/
}
/*ul {
    list-style-type: none;
}*/
.nav-main ul {
   list-style-type: none;
   display: flex;
   justify-content: space-around;
   width: 50%;
}
.fa-user-circle {
    font-size: 30px;
}
.nav-main li {
    margin: 0 40% 0 25%;
    /* width: 40px; */
}
.nav-icons {
    /*padding: 0 2% 0 2%;*/
    margin-right: 1%;
   /* margin: 1%;*/
}
/*  */
/* White glow on hover (class="icon" and adding .icon:hover element to the css)*/
.icon i, h2 {
    color: white;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  .icon:hover i, .icon:hover h2 {
    color: #FFFFFF;
    text-shadow:0px 0px 30px #FFFFFF;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
.fa-user-plus, .fa-user-circle, .fa-book-dead, .fa-skull-crossbones {
    /* .fas, .far { */ /* Sets the color of all icons */
    color: white;
}
.to-home {
    margin-left: 1.5%;
}
/* Purple line when hovering over (class="cool-link" (add to html for a purple line on hover)*/
.cool-link {
    display: inline-block;
    color: white;
    text-decoration: none;
}
.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
}
.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}
/*
.nav-main {
    min-height: 10vh ;
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
}
.nav-main ul {
    display:flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
*/
.section-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ded-sec-logo {
    height: auto;
}
/* Vertical hr */
hr {
    border:         none;
    /*border-left:    1px solid hsla(200, 10%, 50%,100);*/
    border-left:    1px solid white;
    height:         80vh;
    width:          1px;
    margin-top: 3%;
}
/* */
.main-left, .main-right {
 font-size: 16px;
 width: 100%;
}
.main-left {
    margin-left: 15%;
    /* 25% */
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-right {
    margin-left: 10%;
    /* 10% */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slogan {
    font-weight: bold;
    margin-bottom: 5%;
    text-align: left;
}
.slogan-2 {
    margin-top: 5%;
}
.fa-book-dead, .fa-skull-crossbones {
    font-size: 40px;
    margin-bottom: 5%;
}
.main-right h4 {
    margin-bottom: 2%;
}
.main-intro {
    line-height: 25px;
    width: 67%;
}
.student {
    width: 40%;
    margin-bottom: 10%;
}
.mentor {
    width: 40%;
}
.who {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .tracking-in-expand class (animation) */
.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
          animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
/* */
/* Join us !Button! */
/*
  .join-us {
  margin-left: 100%;
  width: 30%;
  padding: 15px;
  color: #FFFFFF;
  background-color: rgb(102, 0, 227);
  border: 1px solid rgb(102, 0, 227);
  border-radius: 15px 50px 30px 5px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  }
  */
  /*
  .join-us:hover {
    cursor: pointer; /* The hand appears when hovering over */
    /*
  }
  /* Glow when hovering over the button (class="glow-button" (Add to html for glowing button :))*/
  /*
  .glow-button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
  }
  /* No background button */
  .join-us {
    margin-left: 100%;
    width: 30%;
    padding: 15px;
    color: #FFFFFF;
    background-color: Transparent;
    border: 1px solid white;
    box-shadow: 0 2px 10px white;
    border-radius: 15px 50px 30px 5px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    }
    .join-us:hover {
      cursor: pointer; /* The hand appears when hovering over */
    }
    /* Glow when hovering over the button (class="glow-button" (Add to html for glowing button :))*/
    .glow-button:hover {
      color: rgba(255, 255, 255, 1);
      /*box-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);*/
      box-shadow: 0px 5px 15px white;
    }
    /* */