@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;700&display=swap');

/* .fa-chalkboard-teacher, .fa-user-graduate {
    font-size: 3em;
}

.profile-body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
} */

/* .userinfo-divs {
    display: flex;
   
    flex-direction: row;
} */

.space-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20%;
}

.fa-chalkboard-teacher {
    font-size: 50px;
}

.profile-userinfo {
   
    width: 200%;
    border: 1px solid white;
    border-radius: 5px;
    flex-direction: row; 
    padding: 20px;

    /* display: inline-block; */
    
    /* width: -webkit-fit-content;
    height: -webkit-fit-content;
    width: -moz-fit-content;
    height: -moz-fit-content; */
}

.userinfo-divs {
    width: 50%;
    float: left;
    padding: 20px;
}

.avatar-img {
    width: 75px;
    height: auto;
}

.right-profile {
    width: 20%;
}

.left-profile {
    width: 80%;
}

.mentor-i {
    font-size: 20px;
}

.left-profile-div {
    padding-left: 20%;
}

/* .space-text {
    width: 40%;
} */