@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;700&display=swap');

.profile-img {
    width: 50px;
    background-color: coral;
}

.profile-body {
    background-color: coral;
}